<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="c.gg.steamlog">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/steamlogicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:theme="@style/AppTheme" />
        <activity android:name=".Cadastro" />
        <activity android:name=".Perfil" />
        <activity android:name=".Estatisticas" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Jogo" />
        <activity android:name=".Ranking" />
        <activity android:name=".ListaPost" />
        <activity android:name=".Amigos"></activity>
    </application>

</manifest>